---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1>{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y-%m-%d" }}</time>
      {% if page.author %} • {{ page.author }}{% endif %}
    </p>
  </header>
  <div class="post-content">
    {{ content }}
  </div>
  {% if page.tags %}
  <div class="post-tags">
    Tags: {% for tag in page.tags %}<span>{{ tag }}</span>{% unless forloop.last %}, {% endunless %}{% endfor %}
  </div>
  {% endif %}
</article>
